:root {
    color-scheme: dark;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/ibm.woff2") format('woff2');
         url("/fonts/ibm.ttf") format('truetype');
}

body {
    background-color: #1d1e20;
    color: #ffffff;
    margin: 0 auto;
    padding: .5em 0 3em 0;
    font-family: "IBM Plex Sans", monospace;
    font-size: 1rem;
    line-height: 1.3rem;
    word-break: break-word;
    box-sizing: border-box;
    overflow-y: scroll;
    min-height: 100%;
    height: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    color: #1d1e20 !important;
    fill: #1d1e20 !important;
    background-color: #646464;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
}

p code {
    background-color: #272822;
    color: #cccccc;
    padding-left: 5px;
    padding-right: 5px;
}

.nav {
    margin-inline-start: auto;
    margin-inline-end: auto;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #646464;
}

.nav .logo {
    padding-bottom: 20px;
}

.nav .logo h1 {
    display: inline;
    vertical-align: top;
}

.nav .logo img {
    height: 2.1rem;
    width: 2.1rem;
    vertical-align: center;
}

.nav-dock {
    margin: auto;
}

.main {
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

.warn-text {
    color: #646464;
    font-size: .75rem;
}

.profile-header {
    text-align: center;
}

.profile-title {
    font-size: 1.1rem;
}

.profile-title img {
    width: 75%;
    max-width: 400px;
}

.profile-title h1 {
    padding-top: 15px;
}

.social-list {
    padding: 12px;
    padding-bottom: 0px;
    display: inline-flex;
}

.social-list a {
    padding-top: 2px;
    padding-bottom: 2px;
}

.social-list a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-list a svg {
    display: inline-flex;
    height: 26px;
    width: 26px;
    vertical-align: bottom;
    text-align: center;
}

.social-list a img {
    display: inline-flex;
    height: 26px;
    width: 26px;
    vertical-align: bottom;
    text-align: center;
}

.web-list {
    display: inline-grid;
    width: 100%;
    gap: 2px 0px;
    grid-template-columns: repeat( auto-fit, 100px);
    padding-top: 12px;
}

.web-list a {
    border-bottom: none !important;
}

.web-list a img {
    padding: 2px;
}

.post-header {
    text-align: left;
    line-height: 1rem;
    padding-bottom: 24px;
}

.post-header .link {
    font-size: 1rem;
}

.post-header .link a svg, .post-header .link svg {
    height: 1rem;
    width: 1rem;
    vertical-align: top;
}

.post-header .date {
    text-align: center;
}

.post-content {
    color: #d7d7d7;
}

.post-content pre {
    border-radius: 5px;
    background-color: #272822 !important;
}

.post-content pre code {
    display: block;
    margin: auto 0;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    background-color: #272822 !important;
}

.post-content pre code span {
    background-color: #272822 !important;
}

.post-content a {
    border-bottom: 1px solid #646464;
}

.post-content strong {
    color: #ffffff;
}

.post-content img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.post-content blockquote {
    margin: 0 18px;
    padding: 0 18px;
    border-inline-start: 2px solid #ffffff;
    color: #ffbc95;
}

.post-content ul, .post-content ol {
    padding-inline-start: 20px;
}

.post-content li {
    margin-top: 5px;
}

.post-content h1, h2 {
    padding-top: 20px;
    color: #ffffff;
}

.post-content h2::before {
    content: "#";
    color: #646464;
    position: relative;
    left: -1rem;
    font-weight: bold;
    padding-left: 1rem;
}

.post-content h1::before {
    content: "#";
    color: #646464;
    position: relative;
    left: -1rem;
    font-weight: bold;
    padding-left: 1rem;
}

.post-tags li {
    display: inline-block;
    margin-inline-end: 3px;
    margin-bottom: 5px;
}

.post-tags a {
    display: block;
    padding-inline-start: 7px;
    padding-inline-end: 7px;
    color: #ccc;
    font-size: 14px;
    line-height: 20px;
}

.footer {
    max-width: 1024px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #646464;
    color: #ffffff;
}

.footer a {
    padding: 0;
}