<div class="post-content pretty-link">
{{ $prevYear := 0 }}
{{ range .Pages.ByPublishDate.Reverse }}
    {{if ne $prevYear (.Date.Format "2006")}}
        <h2>{{ .Date.Format "2006" }}</h2>
    {{end}}
    <p>
        <a href="{{ .RelPermalink }}">
            <b>
                {{- if not .Date.IsZero -}}
                    {{- (.Date.Format (default "January 2" .Site.Params.DateFormat)) }}
                {{- end -}}
            </b>
            <span>{{ .Title }}</span>
        </a>
    </p>
    {{ $prevYear = .Date.Format "2006"}}
{{ end }}
</div>