{{ define "main" }}

<article>
    <header class="profile-header">
        <div class="profile-title">
            <img src="{{- .Params.Pfp -}}"/>
            <h1 class="rainbow">{{ .Params.name }}</h1>
        </div>
        {{- partial "socialList.html" $.Params.socialList -}}
    </header>
</article>
<div class="post-content">
    {{ .Content }}
</div>
<footer class="post-footer">
    {{ partial "lastUpdated.html" (dict "GitInfo" .GitInfo "Repo" .Site.Params.Sourcerepo) }}
</footer>

{{ end }}