{{ define "main" }}

<div class="main">
    {{ range .Pages.ByPublishDate.Reverse }}
    <p>
        <a href="{{ .RelPermalink }}">{{- if not .Date.IsZero -}}
            {{- (slice (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat))) }}
            {{- end -}}<br>- {{ .Title }}</a>
    </p>
    {{ end }}
    <br>
    <p class="warn-text">Warning! These posts have multiple images, some pages load more than 10mb of content! (still better than the NYT but still.)</p>
</div>

{{ end }}